<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borah.manjit.brainshare">

    <application
        android:name=".global.GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/brain"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/brain"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddTopicAndQuestions"
            android:parentActivityName=".MyGames"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".MyGames"
            android:parentActivityName=".FirstActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".LogInAndOthers" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOver"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FirstActivity"
            android:parentActivityName=".LogInAndOthers"
            android:screenOrientation="portrait"
            android:theme="@style/FirstActivityTheme" />
    </application>

</manifest>